.add_user {
    margin-left: 10px;
}
.required {
    color:red;
}

.error {
    color:red;
    font-family: 'Montserrat', sans-serif;
}
.description {
    padding: 3px;
    color:gray;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}